.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  h2 {
    margin-top: 1.5rem;
  }

  time {
    font-size: 1rem;
    color: var(--gray-300);
    margin-top: 1.5rem;
  }

  p,
  ul {
    width: 100%;
    line-height: 2rem;
    color: var(--gray-100);
  }

  ul {
    margin-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }
}
